$col-white: #fff;
$col-black: #000;
$col-bg: hsl(180, 52%, 96%);
$col-green: hsl(180, 29%, 50%);
$col-tag: hsl(180, 31%, 95%);
$col-grey: hsl(0, 0%, 98%);
$col-grey-2: hsl(233, 8%, 62%);
$col-dark-blue: hsl(233, 26%, 24%);
$col-blue: hsl(220, 16%, 96%);

$fs-normal: 18px;
$fs-middle: 13px;

$f-weight-normal: 300;
$f-weight-bold: 400;